<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharememo.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.sharememo.entity.Member">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="line_id" jdbcType="VARCHAR" property="lineId"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_timestamp" jdbcType="TIMESTAMP" property="updateTimestamp"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , `name`, line_id, email, create_timestamp, create_user, update_timestamp, update_user
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="create">
        INSERT INTO member(name, line_id, email, create_timestamp, create_user, update_timestamp, update_user)
        VALUES (#{name}, #{lineId}, #{email}, #{createTimestamp}, #{createUser}, #{updateTimestamp}, #{updateUser})
    </insert>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM member;
    </select>

    <delete id="deleteByPrimaryKey">
        DELETE
        FROM member
        WHERE id = #{id}
    </delete>

    <delete id="deleteByLineId">
        DELETE
        FROM member
        WHERE line_id = #{lineId}
    </delete>

</mapper>