spring:
  profiles:
    active:
server:
  port: 8500
  servlet:
    context-path: /share-memo

mybatis:
  mapper-locations:
    - classpath*:mybatis/*.xml
  type-aliases-package: com.sharememo.entity

# line bot setting
line:
  bot:
    channel-token:
    channel-secret:
    handler:
      path: /callback


# mybatis show sql
logging:
  level:
    com:
      sharememo:
        mapper: debug

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/share-memo?useUnicode=true&characterEncoding=utf-8
    username: jason
    password:

---
spring:
  config:
    activate:
      on-profile: test
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:file:/Users/jason/Desktop/jason/share-memo;DB_CLOSE_ON_EXIT=FALSE
#    url: jdbc:h2:file:C:/Users/Jason/Desktop/share-memo/share-memo;DB_CLOSE_ON_EXIT=FALSE
#    url: jdbc:h2:mem:share-memo
    driver-class-name: org.h2.Driver
    username: jason
    password:
  sql:
    init:
      schema-locations: classpath:sql/schema.sql